<!DOCTYPE html>
<html class=" ">
<head>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Ultra Admin : Ecommerce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link rel="shortcut icon" href="~/Content/default/images/favicon.png" type="image/x-icon" />    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" href="~/Content/default/images/apple-touch-icon-57-precomposed.png">	<!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/default/images/apple-touch-icon-114-precomposed.png">    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/default/images/apple-touch-icon-72-precomposed.png">    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/default/images/apple-touch-icon-144-precomposed.png">    <!-- For iPad Retina display -->
    @Styles.Render("~/Content/default/css")
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        var rootPath = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))";
    </script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class=" ">
    <!-- START TOPBAR -->
    <div class='page-topbar '>
        @{ Html.RenderPartial("_HeaderPartial");}

    </div>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid">

        <!-- SIDEBAR - START -->
        <div class="page-sidebar ">

            @{Html.RenderPartial("_LeftSidebarPartial");}



        </div>
        <!-- SIDEBAR - END -->
        <!-- START CONTENT -->
        <section id="main-content" class=" ">
            <section class="wrapper main-wrapper" style=''>

                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                    @{Html.RenderPartial("_BreadCrumb");}
                </div>
                <div class="clearfix"></div>
                <!-- Main Content Start -->
                @RenderBody()
                <!-- Main Content End -->


            </section>
        </section>
        <!-- END CONTENT -->
        <!-- RIGHT SIDEBAR  CHAT- START -->
        @{Html.RenderPartial("_RightSidebarChatPartial");}
        <!-- RIGHT SIDEBAR  CHAT- END -->

    </div>
    <!-- END CONTAINER -->
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->
    <!-- CORE JS FRAMEWORK - START -->
    <!-- General section box modal start -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/layout")
    @RenderSection("scripts", required: false)
    <!-- modal end -->
</body>
</html>
