
@using Hsp.GenericFramework.Web.Admin.Base;
@{
    ViewBag.Title = "Menu items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    @*<link href="~/Content/default/plugins/jstree/themes/default/style.css" rel="stylesheet" />*@
    @Styles.Render("~/bundles/css/menuItemController")
}

@{

    Html.RenderPartial("CommonPartial/_BoxHeaderPartial");
    Html.RenderPartial("CommonPartial/_BoxContentStartPartial");
    // button start

    <div class="row">
        <div class="">
            <button type="button" class="btn btn-success" disabled id="btnAdd" ><i class="fa fa-asterisk"></i> New</button>
            <button type="button" class="btn btn-warning" onclick="treedata_rename();"><i class="fa fa-pencil"></i> Edit</button>
            <button type="button" class="btn btn-danger" onclick="treedata_delete();"><i class="fa fa-remove"></i> Del</button>
        </div>

    </div>
    <div class="clearfix"></div>
    <br />

    // button end

    // Main content start
    <div class="form-group">
        <label class="form-label" for="field-5">Menu tree test</label>
        <span class="desc"></span>
        <select class="form-control">
            
        </select>

    </div>

    <div class="form-group">
        <label class="form-label" for="field-5">Menu type</label>
        <span class="desc"></span>
        <select class="form-control" id="menu-item-type" onchange="menuItemTypeChange()">
            @{
                if (Model.MenuItemTypes != null)
                {
                    foreach (var menuItemType in Model.MenuItemTypes)
                    {
                        <option value="@menuItemType.Id">@menuItemType.MenuItemTypeName</option>
                    }
                }
            }
        </select>

    </div>
            <br />
            <label class="form-label" for="field-5">Details</label>
            <div id="tree" class="treeview"></div>

                //Main content end
                Html.RenderPartial("CommonPartial/_BoxContentEndPartial");
                Html.RenderPartial("CommonPartial/_BoxFooterPartial");

}


@section scripts{
    @Scripts.Render("~/bundles/scripts/menuItemController")
    <script src="~/Scripts/Controllers/MenuItem.js"></script>
    <script>
        @{
            var baseViewModel = (BaseViewModel) TempData["BaseViewModel"];
        }
        var menus = function () { return @Html.Raw(Json.Encode(baseViewModel)); }();

    </script>

}